nav{
    display: flex;
    justify-content: center;
    background: red;
}
a{
    text-decoration: none;
    color: black;
}
p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formfield{
    padding:10px;
}
body{
    background-image: linear-gradient(270deg, #3eca45 0%, #c0e712 100%);
}
footer {
    margin-top: 10px;
    background: darkblue;
    color: rgba(255, 255, 255, .8);
    padding: 75px;
    text-align: center;
  }
  
  footer p {
    color: rgba(255, 255, 255, .4);
  }
  span{
      display: block;
      text-align: center;
  }
    

